**Write a Python program that accepts the radius of a circle from the user and computes the area.**

In [4]:
import math
pi=math.pi
Radius=float(input('Insert the radius of the circle= '))
Area=str(pi * Radius**2)
answer= ('Area of the given radius {} is {}')
answer.format(Radius,Area)

Insert the radius of the circle= 2

'Area of the given radius 2.0 is 12.566370614359172'

**Write a Python program to display the first and last colors from the following list. color_list = ["Red","Green","White" ,"Black"]**

In [5]:
color_list = ["Red","Green","White" ,"Black"]
color_list[0],color_list[-1]

('Red', 'Black')

**Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.**

In [6]:
n=float(input("Enter a number= "))
num1=float(n)
num2=float(n*n)
num3=float(n*n*n)
TotalSum=num1+num2+num3
print("The total sum is:",TotalSum)

Enter a number= 3
The total sum is: 39.0

**Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference.**

In [7]:
def my_func(n):
    if n <=17:
        return 17-n
    else:
        return abs(17-n)*2
my_func(30)

26

**Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times their sum.**

In [10]:
def three(x,y,z):
    sum=x+y+z
    if x==y==z:
        sum=sum*3
    return sum
three(3,1,3)

7

In [19]:
three(3,3,3)

27

**Write a Python program to test whether a passed letter is a vowel or not.**

In [11]:
def its_vowel(str):
    
    vowel = ['a','A','E','e','I','i','O','o','U','u']
    
    if str in vowel:
        print('it is a vowel')
    else:
        print('it is a consonant')

In [15]:
its_vowel('a')
its_vowel('d')

it is a vowel
it is a consonant

**Write a Python program to replace the string "Python" with "Java" and "Java" with "Python" in a given string.**

In [20]:
a=["Python","Java"]
x=str(a)
x.replace("Java","Python")

"['Python', 'Python']"

**Write a python program to reverse a given string.**

In [23]:
word=input('inset the letter which u want to reverse : ')[::-1]
word

inset the letter which u want to reverse : Hello World

'dlroW olleH'